Repository move4mobile/krew-workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mschilling, @cassshh, @aaltw, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @jstrating, @nratering

chore(release): 0.6.0 [skip-ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  2c901cacdda5c4290e0805711fab96351f7561e6
Owners: none

chore: migrate nx to 13.8.2
  nx.json
  package-lock.json
  package.json
Owners: none

build(deps): migrate nx to 13.8.2 (#848)
  nx.json
  package-lock.json
  package.json
Owners: none

chore: update package lock
  package-lock.json
Owners: none

chore: update package.json
  package-lock.json
Owners: none

chore: nx migration
  decorate-angular-cli.js
  libs/api-client/project.json
  migrations.json
  package-lock.json
  package.json
Owners: @mschilling, @cassshh, @aaltw

chore: nx migration (#905)
  decorate-angular-cli.js
  libs/api-client/project.json
  migrations.json
  package-lock.json
  package.json
Owners: @mschilling, @cassshh, @aaltw

chore: update package-lock
  package-lock.json
Owners: none

chore: update @nxext/svelte
  package-lock.json
  package.json
Owners: none

chore: update package-lock
  package-lock.json
Owners: none

chore: update package-lock
  package-lock.json
Owners: none

chore: update package-lock
  package-lock.json
Owners: none

chore: downgrade nxext/svelte
  package-lock.json
  package.json
Owners: none

build(krew-ui-angular): :lipstick: tailwind 3.x integration
  apps/krew-ui-angular/README.md
  apps/krew-ui-angular/postcss.config.js
  apps/krew-ui-angular/src/app/app.component.spec.ts
  apps/krew-ui-angular/src/index.html
  apps/krew-ui-angular/src/styles.scss
  apps/krew-ui-angular/tailwind.config.js
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar

build(krew-ui-angular): :lipstick: tailwind 3.x integration (#915)
  apps/krew-ui-angular/README.md
  apps/krew-ui-angular/postcss.config.js
  apps/krew-ui-angular/src/app/app.component.spec.ts
  apps/krew-ui-angular/src/index.html
  apps/krew-ui-angular/src/styles.scss
  apps/krew-ui-angular/tailwind.config.js
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar

feat(krew-ui-angular): login screen added with some initial styling
  apps/krew-ui-angular/src/index.html
  apps/krew-ui-angular/src/styles.scss
  apps/krew-ui-angular/tailwind.config.js
  libs/krew-angular/auth/src/lib/login.component.html
  libs/krew-angular/feature-shell/src/lib/shell.component.ts
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar

build(krew-ui-angular): angular/fire added (for firebase usage for authentication)
  package-lock.json
  package.json
Owners: none

ci(krew-ui-angular): environment interface firebase configuration added
  .gitignore
  libs/shared/environments/src/lib/environment.interface.ts
  libs/shared/environments/src/lib/environment.prod.ts
  libs/shared/environments/src/lib/environment.ts
Owners: @mschilling, @cassshh, @aaltw

chore(krew-website): refactor renderers to integrations
  apps/krew-website/astro.config.mjs
Owners: @aaltw, @mschilling, @cassshh, @nratering

build(deps): remove unused @astrojs/renderer-svelte dep
  package-lock.json
  package.json
Owners: none

chore(krew-website): refactor renderers to integrations
  apps/krew-website/astro.config.mjs
Owners: @aaltw, @mschilling, @cassshh, @nratering

build(deps): remove unused @astrojs/renderer-svelte dep
  package-lock.json
  package.json
Owners: none

feat: deprecation fix fixed krew website astro deprecation warning
  apps/krew-website/src/components/Footer.astro
  apps/krew-website/src/components/Head.astro
Owners: @aaltw, @mschilling, @cassshh, @nratering

build(deps): migrate nx to 13.9.5
  package-lock.json
  package.json
Owners: none

chore: migrate nx to latest
  decorate-angular-cli.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Owners: none

chore: re-generate package lock
  package-lock.json
Owners: none

chore: add build/test/lint-all scripts
  package.json
Owners: none

fix: update astro config file to non-legacy
  apps/krew-website/astro.config.mjs
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore: tweaks
  apps/krew-website/src/components/Head.astro
  apps/krew-website/tailwind.config.js
Owners: @aaltw, @mschilling, @cassshh, @nratering

fix: update Astro config file (#963)
  apps/krew-website/astro.config.mjs
  apps/krew-website/src/components/Head.astro
  apps/krew-website/tailwind.config.js
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore: add nx-astro integration
  package-lock.json
  package.json
Owners: none

chore: tweak config
  apps/krew-website/project.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore: migrate nx to 14.x
  apps/krew-ui-angular/jest.config.ts
  apps/krew-ui-angular/project.json
  apps/krew-ui-angular/tsconfig.app.json
  apps/krew-ui-angular/tsconfig.editor.json
  apps/krew-ui-angular/tsconfig.spec.json
  apps/krew-ui-react/jest.config.ts
  apps/krew-ui-react/project.json
  apps/krew-ui-react/src/main.tsx
  apps/krew-ui-react/tsconfig.app.json
  apps/krew-ui-react/tsconfig.spec.json
  jest.config.ts
  jest.preset.ts
  libs/api-client/jest.config.ts
  libs/api-client/project.json
  libs/api-client/tsconfig.lib.json
  libs/api-client/tsconfig.spec.json
  libs/krew-angular/feature-shell/jest.config.ts
  libs/krew-angular/feature-shell/project.json
  libs/krew-angular/feature-shell/tsconfig.lib.json
  libs/krew-angular/feature-shell/tsconfig.spec.json
  libs/shared/environments/jest.config.ts
  libs/shared/environments/project.json
  libs/shared/environments/tsconfig.lib.json
  libs/shared/environments/tsconfig.spec.json
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens

chore: update dependabot config
  .github/dependabot.yml
Owners: @mschilling, @cassshh

build(deps): migratie nx to 14.x (#1008)
  .github/dependabot.yml
  apps/krew-ui-angular/jest.config.ts
  apps/krew-ui-angular/project.json
  apps/krew-ui-angular/tsconfig.app.json
  apps/krew-ui-angular/tsconfig.editor.json
  apps/krew-ui-angular/tsconfig.spec.json
  apps/krew-ui-react/jest.config.ts
  apps/krew-ui-react/project.json
  apps/krew-ui-react/src/main.tsx
  apps/krew-ui-react/tsconfig.app.json
  apps/krew-ui-react/tsconfig.spec.json
  jest.config.ts
  jest.preset.ts
  libs/api-client/jest.config.ts
  libs/api-client/project.json
  libs/api-client/tsconfig.lib.json
  libs/api-client/tsconfig.spec.json
  libs/krew-angular/feature-shell/jest.config.ts
  libs/krew-angular/feature-shell/project.json
  libs/krew-angular/feature-shell/tsconfig.lib.json
  libs/krew-angular/feature-shell/tsconfig.spec.json
  libs/shared/environments/jest.config.ts
  libs/shared/environments/project.json
  libs/shared/environments/tsconfig.lib.json
  libs/shared/environments/tsconfig.spec.json
  package-lock.json
  package.json
Owners: @mschilling, @cassshh, @aaltw, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens

chore: migrate nx
  apps/krew-ui-angular/jest.config.ts
  apps/krew-ui-angular/project.json
  apps/krew-ui-react/jest.config.ts
  apps/krew-ui-react/project.json
  apps/krew-ui-svelte/project.json
  apps/krew-website/project.json
  jest.config.ts
  jest.preset.js
  jest.preset.ts
  libs/api-client/jest.config.ts
  libs/api-client/project.json
  libs/krew-angular/auth/project.json
  libs/krew-angular/feature-shell/jest.config.ts
  libs/krew-angular/feature-shell/project.json
  libs/shared/assets/project.json
  libs/shared/environments/jest.config.ts
  libs/shared/environments/project.json
  migrations.json
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @jstrating, @nratering

chore: cleanup
  migrations.json
Owners: none

chore: update package-lock
  package-lock.json
Owners: none

fix: tailwind fixed tailwind and updated astro to version 1 beta
  apps/krew-website/astro.config.mjs
  apps/krew-website/postcss.config.cjs
  apps/krew-website/src/components/Footer.astro
  apps/krew-website/tailwind.config.cjs
  apps/krew-website/tailwind.config.js
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#* <@user> # NOT YET SETUP ON PURPOSE

# Configs
.github/ @mschilling @cassshh
.vscode/ @mschilling @cassshh

# Libs
libs/ @mschilling @cassshh @aaltw

# Angular app
apps/krew-ui-angular/ @aaltw @mschilling @cassshh @guidovanvilsteren @RoyStobbelaar

# React app
apps/krew-ui-react/ @paul-goossens

# Vue app
apps/krew-ui-vue/ @RoyStobbelaar @jstrating @guidovanvilsteren @aaltw @paul-goossens

# Svelte app
apps/krew-ui-svelte/ @mschilling @cassshh @jstrating

# Krew website app
apps/krew-website/ @aaltw @mschilling @cassshh @nratering
