Repository move4mobile/krew-workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aaltw, @esteenredeker, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @youridekker, @jstrating

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#* <@user> # NOT YET SETUP ON PURPOSE

# Angular app
apps/krew-ui-angular/ @aaltw @esteenredeker @mschilling @cassshh @guidovanvilsteren @RoyStobbelaar

# React app
apps/krew-ui-react/ @paul-goossens @youridekker @esteenredeker

# Vue app
apps/krew-ui-vue/ @RoyStobbelaar @jstrating @guidovanvilsteren @aaltw @paul-goossens @youridekker

# Svelte app
apps/krew-ui-svelte/ @mschilling @cassshh @jstrating

fix: trigger release
  README.md
Owners: none

chore(release): 0.0.2 [skip-ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: none

Notes added by 'git notes add'
  af45f3e6e42949a6f422fe3d58dd15e2960511ea
Owners: none

ci: initial preview url setup
  .github/workflows/cicd.yml
Owners: none

ci: initial preview url setup
  .github/workflows/cicd.yml
  apps/myapp/server/firebase.json
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
  apps/myapp/server/firebase.json
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: initial preview url setup (#54)
  .github/workflows/cicd.yml
  apps/myapp/server/firebase.json
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  nx.json
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

feat(krew-ui-svelte): setup Svelte app (#47)
  angular.json
  apps/krew-ui-svelte/.eslintrc.js
  apps/krew-ui-svelte/package.json
  apps/krew-ui-svelte/public/favicon.png
  apps/krew-ui-svelte/public/global.css
  apps/krew-ui-svelte/public/index.html
  apps/krew-ui-svelte/src/App.svelte
  apps/krew-ui-svelte/src/main.ts
  apps/krew-ui-svelte/svelte.config.cjs
  apps/krew-ui-svelte/tsconfig.app.json
  apps/krew-ui-svelte/tsconfig.json
  apps/krew-ui-svelte/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Owners: @mschilling, @cassshh, @jstrating

ci: configure svelte preview url
  .github/workflows/cicd.yml
  apps/krew-ui-svelte/server/firebase.json
Owners: @mschilling, @cassshh, @jstrating

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none

ci: default workflow improvements (#55)
  .github/workflows/cicd.yml
  apps/krew-ui-svelte/server/firebase.json
  nx.json
Owners: @mschilling, @cassshh, @jstrating

feat(krew-ui-angular): :sparkles: added krew-ui app project based on angular and tailwind
  .vscode/settings.json
  angular.json
  apps/krew-ui-angular/.browserslistrc
  apps/krew-ui-angular/.eslintrc.json
  apps/krew-ui-angular/README.md
  apps/krew-ui-angular/jest.config.js
  apps/krew-ui-angular/src/app/app.component.spec.ts
  apps/krew-ui-angular/src/app/app.component.ts
  apps/krew-ui-angular/src/app/app.module.ts
  apps/krew-ui-angular/src/assets/.gitkeep
  apps/krew-ui-angular/src/environments/environment.prod.ts
  apps/krew-ui-angular/src/environments/environment.ts
  apps/krew-ui-angular/src/favicon.ico
  apps/krew-ui-angular/src/index.html
  apps/krew-ui-angular/src/main.ts
  apps/krew-ui-angular/src/polyfills.ts
  apps/krew-ui-angular/src/styles.scss
  apps/krew-ui-angular/src/test-setup.ts
  apps/krew-ui-angular/tsconfig.app.json
  apps/krew-ui-angular/tsconfig.editor.json
  apps/krew-ui-angular/tsconfig.json
  apps/krew-ui-angular/tsconfig.spec.json
  jest.config.js
  nx.json
  package-lock.json
  package.json
  tailwind.config.js
Owners: @aaltw, @esteenredeker, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar

feat(krew-angular-lib): :sparkles: added (very empty) feature shell library
  .vscode/settings.json
  angular.json
  jest.config.js
  libs/krew-angular/feature-shell/.eslintrc.json
  libs/krew-angular/feature-shell/README.md
  libs/krew-angular/feature-shell/jest.config.js
  libs/krew-angular/feature-shell/src/index.ts
  libs/krew-angular/feature-shell/src/lib/feature-shell.module.ts
  libs/krew-angular/feature-shell/src/test-setup.ts
  libs/krew-angular/feature-shell/tsconfig.json
  libs/krew-angular/feature-shell/tsconfig.lib.json
  libs/krew-angular/feature-shell/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Owners: none

ci: configure PR preview URL's for Angular app
  .github/workflows/cicd.yml
Owners: none

ci: tweaks
  .github/workflows/cicd.yml
Owners: none
