Repository move4mobile/krew-workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mschilling, @cassshh, @aaltw, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @jstrating, @nratering

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#* <@user> # NOT YET SETUP ON PURPOSE

# Configs
.github/ @mschilling @cassshh
.vscode/ @mschilling @cassshh

# Libs
libs/ @mschilling @cassshh @aaltw

# Angular app
apps/krew-ui-angular/ @aaltw @mschilling @cassshh @guidovanvilsteren @RoyStobbelaar

# React app
apps/krew-ui-react/ @paul-goossens

# Vue app
apps/krew-ui-vue/ @RoyStobbelaar @jstrating @guidovanvilsteren @aaltw @paul-goossens

# Svelte app
apps/krew-ui-svelte/ @mschilling @cassshh @jstrating

# Krew website app
apps/krew-website/ @aaltw @mschilling @cassshh @nratering

chore: update package files
  package-lock.json
  package.json
Owners: none

chore: update legacy peer deps
  package-lock.json
Owners: none

fix(krew-website): tailwind (#1130)
  apps/krew-website/astro.config.mjs
  apps/krew-website/postcss.config.cjs
  apps/krew-website/src/components/Footer.astro
  apps/krew-website/tailwind.config.cjs
  apps/krew-website/tailwind.config.js
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

fix(deps): setup npm overrides
  package-lock.json
  package.json
Owners: none

fix(krew-ui-svelte): build using vite executor
  .gitignore
  apps/krew-ui-svelte/.eslintrc.js
  apps/krew-ui-svelte/index.html
  apps/krew-ui-svelte/project.json
  apps/krew-ui-svelte/public/index.html
  apps/krew-ui-svelte/tsconfig.json
  apps/krew-ui-svelte/vite.config.ts
  package-lock.json
  package.json
  vitest.config.ts
Owners: @mschilling, @cassshh, @jstrating

chore: fix package-lock.json
  package-lock.json
Owners: none

fix(krew-ui-svelte): linting vite.config.ts
  apps/krew-ui-svelte/tsconfig.app.json
Owners: @mschilling, @cassshh, @jstrating

build(deps): nx migrate to latest angular & nx (14)
  apps/krew-ui-angular/project.json
  apps/krew-ui-angular/tsconfig.json
  apps/krew-ui-react/project.json
  apps/krew-ui-svelte/project.json
  apps/krew-website/project.json
  libs/api-client/project.json
  libs/krew-angular/auth/project.json
  libs/krew-angular/auth/tsconfig.json
  libs/krew-angular/feature-shell/project.json
  libs/krew-angular/feature-shell/src/lib/feature-shell.module.ts
  libs/krew-angular/feature-shell/tsconfig.json
  libs/shared/assets/project.json
  libs/shared/environments/project.json
  nx.json
  package-lock.json
  package.json
  workspace.json
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @jstrating, @nratering

build(deps): npm update
  package-lock.json
  package.json
Owners: none

build(deps): update dependencies
  package-lock.json
  package.json
Owners: none

build(deps): update @sveltejs/vite-plugin-svelte
  package-lock.json
  package.json
Owners: none

fix(krew-ui-svelte): build using vite executor
  .gitignore
  apps/krew-ui-svelte/.eslintrc.js
  apps/krew-ui-svelte/index.html
  apps/krew-ui-svelte/project.json
  apps/krew-ui-svelte/public/index.html
  apps/krew-ui-svelte/src/App.svelte
  apps/krew-ui-svelte/tsconfig.json
  apps/krew-ui-svelte/vite.config.js
  package-lock.json
  package.json
  vitest.config.ts
Owners: @mschilling, @cassshh, @jstrating

chore: eslint tweak
  apps/krew-ui-svelte/.eslintrc.js
Owners: @mschilling, @cassshh, @jstrating

fix(krew-ui-svelte): build using vite executor (#1205)
  .gitignore
  apps/krew-ui-svelte/.eslintrc.js
  apps/krew-ui-svelte/index.html
  apps/krew-ui-svelte/project.json
  apps/krew-ui-svelte/public/index.html
  apps/krew-ui-svelte/src/App.svelte
  apps/krew-ui-svelte/tsconfig.json
  apps/krew-ui-svelte/vite.config.js
  package-lock.json
  package.json
  vitest.config.ts
Owners: @mschilling, @cassshh, @jstrating

chore: remove @types/dotenv package
  package-lock.json
  package.json
Owners: none

build: upgrade nest packages
  package-lock.json
  package.json
Owners: none

build: migrate nx
  apps/krew-ui-angular/jest.config.ts
  apps/krew-ui-react/jest.config.ts
  apps/krew-ui-react/project.json
  apps/krew-ui-svelte/project.json
  apps/krew-website/project.json
  libs/api-client/jest.config.ts
  libs/krew-angular/feature-shell/jest.config.ts
  libs/shared/environments/jest.config.ts
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @guidovanvilsteren, @RoyStobbelaar, @paul-goossens, @jstrating, @nratering

chore: package fix
  package-lock.json
Owners: none

chore: fix package lock
  package-lock.json
  package.json
Owners: none

chore: package fix
  package-lock.json
  package.json
Owners: none

chore: update package file
  package.json
Owners: none

chore: add API gateway project
  apps/api-gateway/.eslintrc.json
  apps/api-gateway/jest.config.ts
  apps/api-gateway/project.json
  apps/api-gateway/src/app/.gitkeep
  apps/api-gateway/src/app/app.controller.spec.ts
  apps/api-gateway/src/app/app.controller.ts
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/app.service.spec.ts
  apps/api-gateway/src/app/app.service.ts
  apps/api-gateway/src/assets/.gitkeep
  apps/api-gateway/src/environments/environment.prod.ts
  apps/api-gateway/src/environments/environment.ts
  apps/api-gateway/src/main.ts
  apps/api-gateway/tsconfig.app.json
  apps/api-gateway/tsconfig.json
  apps/api-gateway/tsconfig.spec.json
  jest.config.ts
  workspace.json
Owners: none

chore: ignore .local folder
  .gitignore
Owners: none

chore: (draft) load news from backend
  apps/api-gateway/src/app/app.controller.spec.ts
  apps/api-gateway/src/app/app.controller.ts
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/app.service.spec.ts
  apps/api-gateway/src/app/app.service.ts
  apps/api-gateway/src/app/controllers/auth.controller.ts
  apps/api-gateway/src/app/controllers/news.controller.ts
  apps/api-gateway/src/app/core/config/configuration.ts
  apps/api-gateway/src/app/core/config/validation.ts
  apps/api-gateway/src/app/core/decorators/firebase-user.decorator.ts
  apps/api-gateway/src/app/core/decorators/index.ts
  apps/api-gateway/src/app/core/guards/firebase-auth.guard.ts
  apps/api-gateway/src/app/core/guards/index.ts
  apps/api-gateway/src/app/core/models/user-token.ts
  apps/api-gateway/src/app/core/models/user.ts
  apps/api-gateway/src/app/core/services/data.service.ts
  apps/api-gateway/src/app/core/services/gateway-settings.service.ts
  apps/api-gateway/src/app/core/services/index.ts
  apps/api-gateway/src/app/core/services/news.service.ts
  apps/api-gateway/src/app/core/strategies/firebase-auth.strategy.ts
  package-lock.json
  package.json
Owners: none

chore: fetch krew news via sdk
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/controllers/news.controller.ts
  apps/api-gateway/src/app/core/services/index.ts
  apps/api-gateway/src/app/core/services/krew-api.service.ts
  apps/api-gateway/src/app/core/services/news.service.ts
  libs/api-client/src/lib/services/base.service.ts
Owners: @mschilling, @cassshh, @aaltw

chore: configure server (cloud run)
  apps/api-gateway/project.json
  apps/api-gateway/server/Dockerfile
  apps/api-gateway/src/app/core/services/krew-api.service.ts
Owners: none

chore: (wip) interaction with krew backend
  apps/api-gateway/src/app/.gitkeep
  apps/api-gateway/src/app/app.module.ts
  apps/api-gateway/src/app/controllers/auth.controller.ts
  apps/api-gateway/src/app/controllers/index.ts
  apps/api-gateway/src/app/core/guards/firebase-auth.guard.ts
  apps/api-gateway/src/app/core/services/auth.service.ts
  apps/api-gateway/src/app/core/services/index.ts
  apps/api-gateway/src/app/core/services/krew-api.service.ts
  apps/api-gateway/src/app/core/strategies/firebase-auth.strategy.ts
Owners: none

chore: updated develop, tailwind
  apps/krew-website/src/pages/index.astro
  apps/krew-website/src/scripts/script.js
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore(libs/tools): init js library
  libs/types/.babelrc
  libs/types/.eslintrc.json
  libs/types/README.md
  libs/types/package.json
  libs/types/project.json
  libs/types/src/index.ts
  libs/types/src/lib/types.ts
  libs/types/tsconfig.json
  libs/types/tsconfig.lib.json
  tsconfig.base.json
  workspace.json
Owners: @mschilling, @cassshh, @aaltw

chore: regenerate package-lock.json
  package-lock.json
Owners: none

chore: update workspace node to 18
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .nvmrc
  README.md
  apps/krew-website/sandbox.config.json
Owners: @mschilling, @cassshh, @aaltw, @nratering

ci: update workspace node to 18 (#1726)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .nvmrc
  README.md
  apps/krew-website/sandbox.config.json
Owners: @mschilling, @cassshh, @aaltw, @nratering

chore: update astro libs
  apps/krew-website/src/env.d.ts
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore: remove .local/ from tracking
  .gitignore
Owners: none

build(deps): migrate to astro v2 + tailwind 3 (#1786)
  apps/krew-website/src/env.d.ts
  package-lock.json
  package.json
Owners: @aaltw, @mschilling, @cassshh, @nratering

chore: setup generator
  libs/types/.gitignore
  libs/types/README.md
  libs/types/config/oas.json
  libs/types/src/generated/.openapi-generator-ignore
  libs/types/src/lib/types.ts
Owners: @mschilling, @cassshh, @aaltw

chore: update readme
  libs/types/README.md
Owners: @mschilling, @cassshh, @aaltw

chore: update openapitools.json
  libs/types/config/openapitools.json
Owners: @mschilling, @cassshh, @aaltw

chore: add index.ts to export generated files
  libs/types/src/index.ts
Owners: @mschilling, @cassshh, @aaltw

chore: exclude generated files from linting
  libs/types/.eslintrc.json
Owners: @mschilling, @cassshh, @aaltw
